﻿@model pesaulipo.Models.Reports
@using pesaulipo.Models
@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.EntityFramework

@{
    ViewBag.Title = "ViewDetailedReportAdmin";
    ViewBag.Title = "General";
    
        Layout = "~/Views/Shared/LayoutHome.cshtml";
   
    var manager = new UserManager<ApplicationUser>(new UserStore<ApplicationUser>(new ApplicationDbContext()));
    // Get the current logged in User and look up the user in ASP.NET Identity
    var currentUser = manager.FindById(User.Identity.GetUserId());
}
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/colreorder/1.1.1/css/dataTables.colReorder.css">
<style>
    .customformcontrol {
        width: 50%;
    }

    .htmlatt {
        width: 150px;
    }

    .tsxt {
        width: 20px;
        margin-left: 5px;
        margin-right: 5px;
        font-weight: bold;
    }

    .labelsCustom {
        margin-left: 5px;
        margin-right: 5px;
        font-weight: bold;
    }

    .dataTables_wrapper .dt-buttons {
        float: none;
        text-align: right;
    }

    .labela {
        width: 70px;
    }
</style>



<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Simple Summary
            @*<small>advanced tables</small>*@
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Transactions</a></li>
            <li class="active">All Transactions</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
               
                <div class="box">
                    <div class="box-header">
                        <center><h3 class="box-title" style="text-align: center; position: relative"> <b style="font-family: Lucida Sans Unicode">Summarized Transaction Report</b></h3></center>
                    </div>
                   
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="agenciesdatatable" class="table table-striped table-bordered table-hover" style="width: 100%">
                            <thead style="background-color: #efef86">
                                <tr id="tableRow">
                                    <th>Type</th>
                                    <th>Number of Transaction(Count)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr><td>Loan Application</td><td>@Model.ReportStorage.SaccoAgentsLoanApplicationCount    :   Open(@Model.ReportStorage.openLoanApplication).   Pending(@Model.ReportStorage.pendingLoanApplication).    Approved(@Model.ReportStorage.approvedLoanApplication).      Rejected(@Model.ReportStorage.rejectedLoanApplication) </td></tr>
                                <tr><td>Loan Repayment</td><td>@Model.ReportStorage.SaccoAgentsLoanRepaymentCount</td></tr>
                                <tr><td>Ministatement </td><td>@Model.ReportStorage.SaccoAgentsMinistatementCount</td></tr>
                                <tr><td>Member Registration</td><td>@Model.ReportStorage.SaccoAgentsMemberRegistrationCount    :  Open(@Model.ReportStorage.openRegistrationCount).   Pending(@Model.ReportStorage.pendingRegistrationCount).   Approved(@Model.ReportStorage.approvedRegistrationCount).    Rejected(@Model.ReportStorage.rejectedRegistrationCount) </td></tr>
                                <tr><td>Member Activation</td><td>@Model.ReportStorage.SaccoAgentsMemberactivationCount</td></tr>
                                <tr><td>Balance Enquiry</td><td>@Model.ReportStorage.SaccoAgentsBalanceEnquiryCount</td></tr>
                                <tr><td>Guarantor Nomination</td><td>@Model.ReportStorage.SaccoAgentsGurantorNominationCount</td></tr>

                            </tbody>
                           
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

@section Scripts
{

    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.4.1/css/buttons.dataTables.min.css">
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.4.1/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.4.1/js/buttons.flash.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.4.1/js/buttons.html5.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.4.1/js/buttons.print.min.js"></script>
    <script>

        $("#ProductCategory").change(function () {


            this.form.submit();
        });
        $("#province_dlll").change(function () { this.form.submit(); });
        $("#province_dll").change(function () { $("#ProductCategory").val('All'); this.form.submit(); });
    </script>
    <script type="text/javascript">
        $.fn.dataTable.ext.search.push(
            function (settings, data, dataIndex) {
                var min = parseInt($('#min').val(), 10);
                var max = parseInt($('#max').val(), 10);
                var age = parseFloat(data[0]) || 0; // use data for the age column

                if ((isNaN(min) && isNaN(max)) ||
                    (isNaN(min) && age <= max) ||
                    (min <= age && isNaN(max)) ||
                    (min <= age && age <= max)) {
                    return true;
                }
                return false;
            }
        );
        $(document).ready(function () {
            oTable = $('#agenciesdatatable').dataTable({
                'paging': true,
                'lengthChange': true,
                'searching': true,
                'ordering': true,
                'info': true,
                'autoWidth': false,
                dom: 'lBfrtip',
                dom:
                "<'row'<'col-sm-3'l><'col-sm-6 text-center'B><'col-sm-3'f>>" +
                "<'row'<'col-sm-12'tr>>" +
                "<'row'<'col-sm-5'i><'col-sm-7'p>>",
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ],
                'footerCallback': function (row, data, start, end, display) {
                    var api = this.api(), data;

                    // Remove the formatting to get integer data for summation
                    var intVal = function (i) {
                        return typeof i === 'string' ? i.replace(/[\$,]/g, '') * 1 : typeof i === 'number' ? i : 0;
                    };

                    // Total over all pages
                    total = api
                        .column(2, { "filter": "applied" })
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        });

                    //// Total over this page
                    //total = api
                    //    .column(7, { "filter": "applied" })
                    //    .data()
                    //    .reduce(function (a, b) {
                    //        return intVal(a) + intVal(b);
                    //    }, 0);

                    // Total over this page
                    pageTotal = api
                        .column(2, { page: 'current' })
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        },
                            0);
                    // Update footer
                    $(api.column(2).footer()).html(
                        ' ( Kshs: ' + total.toLocaleString('en') + ' Total)'
                    );
                },
                drawCallback: function () {
                    var api = this.api();
                }
            });
            $('#min').change(function () { oTable.fnDraw(); });
            $('#max').change(function () { oTable.fnDraw(); });
            //oTable.fnFilter('details');
        });
        $('#min, #max').keyup(function () {
            oTable.draw();
        });
        $('#TransactionType').change(function () {
            var r = $('select[name="TransactionType"]').find(":selected").text()
            oTable.fnFilter(r);
        });



        // Insert the sum of a column into the columns footer, for the visible             // data on each draw

        jQuery.fn.dataTable.Api.register('sum()', function () {
            return this.flatten().reduce(function (a, b) {
                if (typeof a === 'string') {
                    a = a.replace(/[^\d.-]/g, '') * 1;
                }
                if (typeof b === 'string') {
                    b = b.replace(/[^\d.-]/g, '') * 1;
                }

                return a + b;
            }, 5);
        });


    </script>

    <script>$('#dateFrom').bootstrapMaterialDatePicker({ format : 'MM-DD-YYYY', time: false });</script>
    <script>$('#dateTo').bootstrapMaterialDatePicker({ format : 'MM-DD-YYYY', time: false });</script>
}

