﻿@using pesaulipo.Models
@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.EntityFramework
@{

    var manager = new UserManager<ApplicationUser>(new UserStore<ApplicationUser>(new ApplicationDbContext()));
    // Get the current logged in User and look up the user in ASP.NET Identity
    var currentUser = manager.FindById(User.Identity.GetUserId());
    string Name = "";// currentUser.Email;
    if (Name.Length > 21)
    {
        Name = currentUser.Email;
        Name = Name.Remove(19) + "...";
    }
}
<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar" style="background-color: #14420c">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <!-- search form -->
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">

            @if (User.IsInRole("HQ") || User.IsInRole("Supervisor") || User.IsInRole("CO"))
            {

                <li class="@Html.IsSelected(controller: "Dashboard") treeview">
                    <a href="@Url.Action("Home", "Dashboard")" style="background:#14420c">
                        <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li class="@Html.IsSelected(action: "Home")" onmouseover="Color:#efef86"><a href="@Url.Action("Home", "Dashboard")" style="background:#679a02"><i class="fa fa-dashboard"></i> Dashboard</a></li>
                    </ul>
                </li>


                <li class="@Html.IsSelected(controller: "Dashboard") treeview">
                    <a href="@Url.Action("GetAgentsList", "Dashboard")" style="background:#14420c">
                        <i class="fa fa-maxcdn"></i>
                        <span>Agent Management</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li class="@Html.IsSelected(action: "GetAgentsList")"><a href="@Url.Action("GetAgentsList", "Dashboard")" style="background:#679a02"><i class="fa fa-circle-o"></i>View All Agents</a></li>

                    </ul>
                </li>

                <li class="@Html.IsSelected(controller: "Transactions") treeview">
                    <a href="@Url.Action("ViewSaccoTransactions", "Transactions")" style="background:#14420c">
                        <i class="fa fa-credit-card"></i>
                        <span>Reports</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li class="@Html.IsSelected(action: "ViewReport")"><a href="@Url.Action("ViewReport", "Reports")" style="background:#679a02"><i class="fa fa-money"></i> Summary</a></li>
                        <li class="@Html.IsSelected(action: "index")"><a href="@Url.Action("index", "Transactions")" style="background:#679a02"><i class="fa fa-money"></i> All Transactions</a></li>
                    </ul>
                </li>

            }

            @if (User.IsInRole("Administrator"))
            {

                <li class="@Html.IsSelected(controller: "Dashboard") treeview">
                    <a href="@Url.Action("Home", "Dashboard")" style="background:#14420c">
                        <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li class="@Html.IsSelected(action: "Home")" onmouseover="Color:#efef86"><a href="@Url.Action("Home", "Dashboard")" style="background:#679a02"><i class="fa fa-dashboard"></i> Dashboard</a></li>
                    </ul>
                </li>


                <li class="@Html.IsSelected(controller: "Dashboard") treeview">
                    <a href="@Url.Action("GetAgentsList", "Dashboard")" style="background:#14420c">
                        <i class="fa fa-maxcdn"></i>
                        <span>Agent Management</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li class="@Html.IsSelected(action: "GetAgentsList")"><a href="@Url.Action("GetAgentsList", "Dashboard")" style="background:#679a02"><i class="fa fa-circle-o"></i>View All Agents</a></li>

                    </ul>
                </li>

                <li class="@Html.IsSelected(controller: "Transactions") treeview">
                    <a href="@Url.Action("ViewSaccoTransactions", "Transactions")" style="background:#14420c">
                        <i class="fa fa-credit-card"></i>
                        <span>Reports</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">

                        <li class="@Html.IsSelected(action: "ViewReport")"><a href="@Url.Action("ViewReport", "Reports")" style="background:#679a02"><i class="fa fa-money"></i> Summary</a></li>
                        <li class="@Html.IsSelected(action: "index")"><a href="@Url.Action("index", "Transactions")" style="background:#679a02"><i class="fa fa-money"></i> All Transactions</a></li>
                    </ul>
                </li>


                <li class="@Html.IsSelected(controller: "Account") treeview">
                    <a href="@Url.Action("Register", "Account")" style="background:#14420c">
                        <i class="fa fa-users"></i>
                        <span>Users</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li class="@Html.IsSelected(action: "GetUsers")"><a href="@Url.Action("GetUsers", "Dashboard")" style="background:#679a02"><i class="fa fa-users"></i> View All Users</a></li>
                    </ul>
                </li>

                <li class="@Html.IsSelected(controller: "Device") treeview">
                    <a href="@Url.Action("Create", "Device")" style="background:#14420c">
                        <i class="fa fa-credit-card"></i>
                        <span>Device Management</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li class="@Html.IsSelected(action: "RegisterDevice")"><a href="@Url.Action("RegisterDevice", "Device")" style="background:#679a02"><i class="fa fa-maxcdn"></i> Create Device </a></li>
                        <li class="@Html.IsSelected(action: "Index")"><a href="@Url.Action("Index", "Device")" style="background:#679a02"><i class="fa fa-dashboard"></i>Our Devices </a></li>
                        <li class="@Html.IsSelected(action: "WizarviewAdministrator")" onmouseup="Color:#ffff"><a href="https://www.wizarview.cn" target="_blank" style="background:#679a02"><i class="fa fa-user-plus"></i>Wizarview Administrator</a></li>
                    </ul>
                </li>

                <li class="@Html.IsSelected(controller: "Dashboard") treeview">
                    <ul class="treeview-menu">
                        <li onmouseover="Color:#efef86"><a href="@Url.Action("GetPDF", "Dashboard")" style="background:#679a02"><i class="fa fa-dashboard"></i> Agent Statement</a></li>
                    </ul>

                </li>
            }

            @if (User.IsInRole("Agent"))
            {

                <li class="@Html.IsSelected(controller: "Dashboard") treeview">
                    <a href="@Url.Action("Home", "Dashboard")" style="background:#14420c">
                        <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li class="@Html.IsSelected(action: "Home")" onmouseover="Color:#efef86"><a href="@Url.Action("Home", "Dashboard")" style="background:#679a02"><i class="fa fa-dashboard"></i> Dashboard</a></li>
                    </ul>
                </li>


                <li class="@Html.IsSelected(controller: "Transactions") treeview">
                    <a href="@Url.Action("ViewSaccoTransactions", "Transactions")" style="background:#14420c">
                        <i class="fa fa-credit-card"></i>
                        <span>Reports</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li class="@Html.IsSelected(action: "ViewReport")"><a href="@Url.Action("ViewReport", "Reports")" style="background:#679a02"><i class="fa fa-money"></i> Summary</a></li>
                        <li class="@Html.IsSelected(action: "index")"><a href="@Url.Action("index", "Transactions")" style="background:#679a02"><i class="fa fa-money"></i> All Transactions</a></li>
                    </ul>
                </li>


                //apa...

            }

</section>
    <!-- /.sidebar -->
</aside>
