﻿@model pesaulipo.Models.SendCodeViewModel
@{
    Layout = "~/Views/Shared/LayoutHome.cshtml";
}
@using (Html.BeginForm("SendCode", "Account", new { ReturnUrl = Model.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.Hidden("rememberMe", @Model.RememberMe)

    <div class="row" style="background-color:white">
        <div class="form-group">
            <div class="col-md-offset-4 col-md-10">
                <h4 style="">Send verification code</h4>
            </div>
        </div>

        <hr />

        <div class="form-group">
            <div class="col-md-offset-4 col-md-10">
                You shall receive an
                @Html.DropDownListFor(model => model.SelectedProvider, Model.Providers)
                <input type="submit" value="Submit" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
