﻿@model pesaulipo.Models.VerifyCodeViewModel
@{
    ViewBag.Title = "Verify";
    Layout = "~/Views/Shared/LayoutHome.cshtml";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("VerifyCode", "Account", new { ReturnUrl = Model.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.Hidden("provider", @Model.Provider)
    @Html.Hidden("rememberMe", @Model.RememberMe)

<div class="row" style="background-color:white">

    <div class="form-group">
        <div class="col-md-offset-4 col-md-10">
            <h4 style="">Enter verification code sent to your Email</h4>
        </div>
    </div>
    <hr />

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            @Html.LabelFor(m => m.Code, new { @class = "col-md-2 control-label" })
            <div class="col-xs-4">
                @Html.TextBoxFor(m => m.Code, new { @class = "form-control" })
            </div>
            <input type="submit" class="btn btn-default" value="Submit" />
        </div>
    </div>
</div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
