﻿@using pesaulipo.Models
@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.EntityFramework
@using System.Web;
@using System.Web.Mvc;
@model Device
@{
    ViewBag.Title = "Add Device";
    Layout = "~/Views/Shared/LayoutHome.cshtml";
}
<style>
    .createcombo {
        width: 50%;
    }
</style>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">

        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Devices</a></li>
        </ol>
    </section>
    <!-- Main content -->
    <br />
    <br />
    <section class="container">
        <div class="row">
            <!-- left column -->
            <div class="box box-warning">
                <div class="box-body">

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal col-lg-8 col-lg-offset-2">


                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                           

                            <div class="form-group">
                                @Html.LabelFor(model => model.SerialNo, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-6">
                                    @Html.EditorFor(model => model.SerialNo, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.SerialNo, "", new { @class = "text-danger" })
                                </div>
                            </div>


                            <div class="form-group">
                                @Html.LabelFor(model => model.AssigedTo, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-6">
                                    @Html.EditorFor(model => model.AssigedTo, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.AssigedTo, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-6 col-lg-offset-3">
                                    <button class="btn btn-primary btn-custom w-md waves-effect waves-light" type="submit">
                                        Submit
                                    </button>
                                </div>
                            </div>

                        </div>
                    }
                </div>
                <!-- /.box-body -->
            </div>
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


