﻿@using pesaulipo.Models
@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.EntityFramework
@model AgentViewModel
@{
    ViewBag.Title = "AllAgenciesList";

    Layout = "~/Views/Shared/LayoutHome.cshtml";

}
@{
    var manager = new UserManager<ApplicationUser>(new UserStore<ApplicationUser>(new ApplicationDbContext()));
    // Get the current logged in User and look up the user in ASP.NET Identity
    var currentUser = manager.FindById(User.Identity.GetUserId());
    string Organization = "";

    if (User.IsInRole("HQ") || User.IsInRole("Administrator"))
    {
        Organization = "GreenLand Fedha Limited";
    }
    if (User.IsInRole("Supervisor"))
    {
        Organization = currentUser.Region;
    }
    if (User.IsInRole("CO"))
    {
        Organization = currentUser.Factory;
    }

}

<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/colreorder/1.1.1/css/dataTables.colReorder.css">
<style>
    .customformcontrol {
        width: 50%;
    }

    .htmlatt {
        width: 150px;
    }

    .tsxt {
        width: 20px;
        margin-left: 5px;
        margin-right: 5px;
        font-weight: bold;
    }

    .labelsCustom {
        margin-left: 5px;
        margin-right: 5px;
        font-weight: bold;
    }

    .dataTables_wrapper .dt-buttons {
        float: none;
        text-align: right;
    }

    .labela {
        width: 70px;
    }
</style>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">

    <section class="content-header">
        <h1>
            AGENTS REGISTERED UNDER  @Organization.ToUpper()
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Agents Management</a></li>
            <li class="active">Agents List</li>
        </ol>
    </section>


    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <!-- /.box -->
                <div class="box">
                    <div class="box-header">
                    </div>
                    <div class="box-body">
                        <table id="agenciesdatatable" class="table table-striped table-bordered" style="width:100%">
                            <thead style="background-color: #efef86">
                                <tr>

                                    <th>AgentCode</th>
                                    <th>Active</th>
                                    <th>DateRegistered</th>
                                    <th>Location</th>
                                    <th>Telephone</th>
                                    <th>DeviceID</th>
                                    @if (User.IsInRole("Administrator"))
                                    {
                                   <th>Action</th>
                                    }
                                    

                                </tr>
                            </thead>
                            <tbody>
                                @{if (Model.AgentsList != null)
                                    {
                                        foreach (var item in Model.AgentsList)
                                        {
                                            <tr>
                                                <td>@item.AgentCode</td>

                                                @{string statuss = ""; }
                                                @{
                                                    if (item.status == 2)
                                                    {
                                                        statuss = "YES";
                                                    }
                                                }
                                                <td>@statuss</td>
                                                <td>@item.DateRegistered</td>
                                                <td>@item.Location</td>
                                                <td>@item.Telephone</td>
                                                <td>@item.deviceID</td>
                                                @if (User.IsInRole("Administrator"))
                                                {
                                                 <td>@Html.ActionLink("Update", "EditSaccoAgent", new { agent_code = item.AgentCode })</td>
                                                }
                                                </tr>
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->


@section Scripts
{

    <script type="text/javascript">
        $(document).ready(function () {
            $('#agenciesdatatable').DataTable({
                'paging': true,
                'lengthChange': true,
                'searching': true,
                'ordering': true,
                'info': true,
                'autoWidth': false
            });
        })
    </script>
}
