﻿@using System.Globalization
@model pesaulipo.Models.DashboardViewModel
@{
    ViewBag.Title = "Greenlands Fedha Limited";
    Layout = "~/Views/Shared/LayoutHome.cshtml";
    string companyColor = "blue";

}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Dashboard
            <small>Control panel</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Dashboard</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <!-- Small boxes (Stat box) -->
        <div id="Dashboard">
            @Html.Partial("DashBoardPartialHome", Model)
        </div>

        <!-- ./col -->
        <!-- /.row -->
        <!-- Main row -->
        <div class="row">
            <!-- Left col -->
            <section class="col-lg-7 connectedSortable">
                <div class="tab-content no-padding">
                    <!-- Morris chart - Sales -->
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">TOTAL TRANSACTIONS AGAINST TIME</h3>
                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                    <i class="fa fa-minus"></i>
                                </button>
                                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                            </div>
                        </div>
                        <div class="box-body chart-responsive">
                            <div class="chart" id="revenue-chart" style="height: 300px;"></div>
                        </div>
                        <!-- /.box-body -->
                    </div>

                </div>

                <div class="box box-success">
                    <div class="box-header with-border">
                        <h3 class="box-title">TOTAL TRANSACTIONS PER DAY</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="chart">
                            <div class="chart tab-pane active" id="sales-char" style="position: relative; height: 300px;"></div>
                        </div>
                    </div>
                </div>

              
            </section>
           
            <section class="col-lg-5 connectedSortable">
               
                <div class="box box-solid" style="background-color: #ECEFF4">
                    
                    <div class="box-body no-padding">

                        <div class="box box-danger">
                            <div class="box-header with-border">
                                <h3 class="box-title">TRANSACTIONS DISTRIBUTION</h3>
                                <div class="box-tools pull-right">
                                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                        <i class="fa fa-minus"></i>
                                    </button>
                                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                                </div>
                            </div>
                            <div class="box-body chart-responsive">
                                <div class="chart" id="sales-chart" style="height: 300px; position: relative;"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box -->
            </section>
            <!-- right col -->
        </div>
        <!-- /.row (main row) -->
    </section>
    <!-- /.content -->
</div>


@section Scripts
{
    @Scripts.Render("~/bundles/dashboard1")
    <script>
            https://github.com/douglascrockford/JSON-js/blob/master/json2.js
            'use strict';
        var graph_data = [{ y: '@DateTime.Parse(DateTime.Now.AddMinutes(-180).ToString(CultureInfo.InvariantCulture)).TimeOfDay', @*item1: 26,*@ item2: @Model.Transactions200MinsAgo },
            { y: '@DateTime.Parse(DateTime.Now.AddMinutes(-160).ToString(CultureInfo.InvariantCulture)).TimeOfDay', @*item1: 26,*@ item2: @Model.Transactions180MinsAgo },
            { y: '@DateTime.Parse(DateTime.Now.AddMinutes(-140).ToString(CultureInfo.InvariantCulture)).TimeOfDay', @*item1: 26,*@ item2: @Model.Transactions160MinsAgo },
            { y: '@DateTime.Parse(DateTime.Now.AddMinutes(-120).ToString(CultureInfo.InvariantCulture)).TimeOfDay', @*item1: 26,*@ item2: @Model.Transactions140MinsAgo },
            { y: '@DateTime.Parse(DateTime.Now.AddMinutes(-100).ToString(CultureInfo.InvariantCulture)).TimeOfDay', @*item1: 26,*@ item2: @Model.Transactions120MinsAgo },
            { y: '@DateTime.Parse(DateTime.Now.AddMinutes(-80).ToString(CultureInfo.InvariantCulture)).TimeOfDay', @*item1: 26,*@ item2: @Model.Transactions100MinsAgo },
            { y: '@DateTime.Parse(DateTime.Now.AddMinutes(-60).ToString(CultureInfo.InvariantCulture)).TimeOfDay', @*item1: 26,*@ item2: @Model.Transactions80MinsAgo },
            { y: '@DateTime.Parse(DateTime.Now.AddMinutes(-40).ToString(CultureInfo.InvariantCulture)).TimeOfDay', @*item1: 26,*@ item2: @Model.Transactions60MinsAgo },
            { y: '@DateTime.Parse(DateTime.Now.AddMinutes(-20).ToString(CultureInfo.InvariantCulture)).TimeOfDay', @*item1: 26,*@ item2: @Model.Transactions40MinsAgo },
            { y: '@DateTime.Parse(DateTime.Now.ToString(CultureInfo.InvariantCulture)).TimeOfDay', @*item1: 26,*@ item2: @Model.Transactions20MinsAgo }];


        var graph_datah = [{ y: '@DateTime.Parse(DateTime.Now.AddMinutes(-180).ToString(CultureInfo.InvariantCulture)).TimeOfDay', @*item1: 26,*@ item2: @Model.Transactions200MinsAgo },
            { y: '@DateTime.Parse(DateTime.Now.AddMinutes(-160).ToString(CultureInfo.InvariantCulture)).TimeOfDay', @*item1: 26,*@ item2: @Model.Transactions180MinsAgo },
            { y: '@DateTime.Parse(DateTime.Now.AddMinutes(-140).ToString(CultureInfo.InvariantCulture)).TimeOfDay', @*item1: 26,*@ item2: @Model.Transactions160MinsAgo },
            { y: '@DateTime.Parse(DateTime.Now.AddMinutes(-120).ToString(CultureInfo.InvariantCulture)).TimeOfDay', @*item1: 26,*@ item2: @Model.Transactions140MinsAgo },
            { y: '@DateTime.Parse(DateTime.Now.AddMinutes(-100).ToString(CultureInfo.InvariantCulture)).TimeOfDay', @*item1: 26,*@ item2: @Model.Transactions120MinsAgo },
            { y: '@DateTime.Parse(DateTime.Now.AddMinutes(-80).ToString(CultureInfo.InvariantCulture)).TimeOfDay', @*item1: 26,*@ item2: @Model.Transactions100MinsAgo },
            { y: '@DateTime.Parse(DateTime.Now.AddMinutes(-60).ToString(CultureInfo.InvariantCulture)).TimeOfDay', @*item1: 26,*@ item2: @Model.Transactions80MinsAgo },
            { y: '@DateTime.Parse(DateTime.Now.AddMinutes(-40).ToString(CultureInfo.InvariantCulture)).TimeOfDay', @*item1: 26,*@ item2: @Model.Transactions60MinsAgo },
            { y: '@DateTime.Parse(DateTime.Now.AddMinutes(-20).ToString(CultureInfo.InvariantCulture)).TimeOfDay', @*item1: 26,*@ item2: @Model.Transactions40MinsAgo },
            { y: '@DateTime.Parse(DateTime.Now.ToString(CultureInfo.InvariantCulture)).TimeOfDay', @*item1: 26,*@ item2: @Model.Transactions20MinsAgo }];

        var area = new Morris.Area({
            element: 'revenue-chart',
            resize: true,
            data: graph_datah,
            xkey: 'y',
            ykeys: ['item2'],
            labels: ['Total Transactions'],
            lineColors: ['#efef86'],
            hideHover: 'auto',
            parseTime: false
        });
        $(function () {
            setInterval(function () { $(bar.setData(graph_datah)); }, 5000); // every 3 sec
        });

        ////not being excecuted
        var area = new Morris.Bar({
            element: 'sales-char',
            resize: true,
            data: graph_datah,
            xkey: 'y',
            ykeys: ['item2'],
            labels: ['Daily Transactions'],
            lineColors: ['#14420c'],
            barColors: ['#14420c'],
            hideHover: 'auto',
            parseTime: false
        });

        var donut = new Morris.Donut({
            element: 'sales-chart',
            resize: true,
            colors: ['#14420c','#efef86','#679a02'],
             data: [
                 { label: 'Loan Application', value: @Model.LoanApplicationCount},
                { label: 'Member Registration', value: @Model.MemberRegCount},
                { label: 'Other Transactions', value: @Model.OthersCount}
            ],
            hideHover: 'auto'
        });

       //colors : ['#efef86'],colors : ['#14420c'] ,colors : ['#fff']

        var line = new Morris.Line({
            element: 'line-chart',
            resize: true,
            data: [
                { y: '2010 Q1', item1: 2666 },
                { y: '2010 Q2', item1: 2778 },
                { y: '2010 Q3', item1: 4912 },
                { y: '2010 Q4', item1: 3767 },
                { y: '2011 Q1', item1: 6810 },
                { y: '2011 Q2', item1: 5670 },
                { y: '2011 Q3', item1: 4820 },
                { y: '2011 Q4', item1: 15073 },
                { y: '2012 Q1', item1: 10687 },
                { y: '2012 Q2', item1: 8432 }
            ],
            xkey: 'y',
            ykeys: ['item1'],
            labels: ['Item 1'],
            lineColors: ['#efef86'],
            lineWidth: 2,
            hideHover: 'auto',
            gridTextColor: '#fff',
            gridStrokeWidth: 0.4,
            pointSize: 4,
            pointStrokeColors: ['#14420c'],
            gridLineColor: '#14420c',
            gridTextFamily: 'Open Sans',
            gridTextSize: 10
        });
    </script>

    <script type="text/javascript">

            function loadPartialViewAdmin() {
                $.ajax({
                    url: "@Url.Action("DashBoardPartialHome", "Dashboard")",
                    type: 'GET', // <-- make a async request by GET
                dataType: 'html', // <-- to expect an html response
                success: function(result) {
                    $('#Dashboard').html(result);
                }
            });
            }

            $(function() {
                loadPartialViewAdmin(); 
                window.setInterval("loadPartialViewAdmin()", 5000);

            });
    </script>
    <script type="text/javascript">
        function loadPartialView() {
            $.ajax({
                url: "@Url.Action("DashBoardPartialAdminCoretecTable", "Dashboard")",
                type: 'GET', 
            dataType: 'html', 
            success: function(result) {
                $('#TablePartial').html(result);
            }
        });
        }

        $(function() {
            loadPartialView(); // first time
            // re-call the function each 5 seconds
            window.setInterval("loadPartialView()", 5000);

        });
    </script>

}

