﻿@using pesaulipo.Models
@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.EntityFramework
@using System.Web;
@using System.Web.Mvc;
@model AspNetUser
@{
    ViewBag.Title = "Update user";
    Layout = "~/Views/Shared/LayoutHome.cshtml";
}
<style>
    .createcombo {
        width: 50%;
    }
</style>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">

        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Disable User</a></li>
        </ol>
    </section>
    <!-- Main content -->
    <br />
    <br />
    <section class="container">
        <div class="row">
            <!-- left column -->
            <div class="box box-warning">
                <div class="box-body">

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                    <div class="form-horizontal col-lg-8 col-lg-offset-2">


                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.AgentCode, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.AgentCode, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.AgentCode, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        @*<div class="form-group">
                            @Html.LabelFor(model => model.UserType, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-6">

                                @Html.DropDownListFor(model => model.UserType,
                                    new List<SelectListItem>
                                        {
                                            new SelectListItem{ Text="Staff", Value = "HQ" },
                                            new SelectListItem{ Text="Administrator", Value = "Administrator" },
                                            new SelectListItem{ Text="Region Supervisor", Value = "Supervisor" },
                                            new SelectListItem{ Text="Factory CO", Value = "CO" },
                                            new SelectListItem{ Text="Agent", Value = "Agent" },
                                        },
                                    new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Region, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-6">
                                @Html.DropDownListFor(model => model.Region,
                                         Enumerable.Empty<SelectListItem>(),
                                         "Select Region",
                                         new { @class = "form-control", @id = "selectRegion" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Factory, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-6">
                                @Html.DropDownListFor(model => model.Factory,
                                                     Enumerable.Empty<SelectListItem>(),
                                                     "Select Factory",
                                                     new { @class = "form-control", @id = "selectRegionFactory" })
                                @Html.ValidationMessageFor(model => model.Factory, "", new { @class = "text-danger" })
                            </div>
                        </div>*@

                        <div class="form-group">
                            @Html.LabelFor(model => model.Enabled, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-6" style="color:white">


                                @Html.DropDownListFor(model => model.Enabled,
                                    new List<SelectListItem>
                                        {
                                            new SelectListItem{ Text="Enable", Value = "true"  },
                                            new SelectListItem{ Text="Disable", Value = "false" },

                                        },
                                    new { @class = "form-control" })

                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-6 col-lg-offset-3">
                                <button class="btn btn-primary btn-custom w-md waves-effect waves-light" type="submit">
                                    Submit
                                </button>
                            </div>
                        </div>

                    </div>

                    }
                </div>
                <!-- /.box-body -->
            </div>
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @{
        string[] scriptFiles = {

        $"~/Scripts/myfiles/Registration.js"
        };
    }
    @Scripts.Render(scriptFiles)
    <script type="text/javascript">
  $(document).ready(function () {

      var selectRegionCode = '#selectRegion';
      var selectRegionFactoryId = '#selectRegionFactory';

      // 2. Load data for the select
      LoadRegionList("@Url.Action("GetRegisteredRegions", "Region")", selectRegionCode);
      // 3. Set up an event change listener
      // this sets the selected client name
      $(selectRegionCode).change(function () {
        if (!this.value) { ResetFactoryAndRole(selectRegionFactoryId); return; }
        //SetPlaceholderText('#selectedRegionPlaceholder', $(this).find(":selected").text());
        // Load the factories select with the selected region's factories
          LoadFactoriesList("@Url.Action("GetRegionFactory", "RegionFactory")", this.value, selectRegionFactoryId);
         // SetRegionFactories(this.value, selectRegionFactoryId);

      });
      // this sets the selected module name
      $(selectRegionFactoryId).change(function () {
        if (!this.value) return;
        SetPlaceholderText('#selectedFactoryPlaceholder', $(this).find(":selected").text());
      });
    });
    </script>
}

