/*
    Materialize's toast redone for standalone jQuery
    
    Author: André Luiz Rabêllo
    Version: 1.0.0
*/

#toast-container {
    display: block;
    position: fixed;
    text-align: center;
    z-index: 10000;
}
@media only screen and (max-width: 600px) {
    #toast-container {
        min-width: 100%;
        bottom: 0%;
    }
}
@media only screen and (min-width: 601px) and (max-width: 992px) {
    #toast-container {
        left: 5%;
        bottom: 7%;
        max-width: 90%;
    }
}
@media only screen and (min-width: 993px) {
    #toast-container {
        top: 10%;
        right: 7%;
        max-width: 86%;
    }
}
.toast {
    background-color: black;
    border-radius: 1px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    clear: both;
    color: #fff;
    cursor: grab;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    font-size: 16px;
    font-weight: 300;
    height: 50px;
    line-height: 1.5;
    margin-top: 8px;
    max-width: 100%;
    min-height: 13px;
    padding: 16px 24px;
    position: relative;
    top: 0;
    width: auto;
    -webkit-align-items: center;
         -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: space-between;
              -ms-flex-pack: justify;
            justify-content: space-between;
}
.toast:active {
    cursor: grabbing;
}
.toast .btn, .toast .btn-large, .toast .btn-flat {
    margin: 0 0 0 3rem;
}
.toast.rounded {
    border-radius: 100px;
}
@media only screen and (max-width: 600px) {
    .toast {
        border-radius: 0;
    }
    .toast.rounded {
        display: inline-block;
        margin: 8px 8px 0;
    }
    .toast.rounded:only-child {
        margin: 8px;
    }
}
@media only screen and (min-width: 601px) and (max-width: 992px) {
    .toast {
        float: left;
    }
}
@media only screen and (min-width: 993px) {
    .toast {
        float: right;
    }
}
