﻿
@using System.IdentityModel.Metadata
@using pesaulipo.Models
@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.EntityFramework
@model pesaulipo.Models.WebServiceTransactionModel
@{
    ViewBag.Title = "General";

    Layout = "~/Views/Shared/LayoutHome.cshtml";
    var manager = new UserManager<ApplicationUser>(new UserStore<ApplicationUser>(new ApplicationDbContext()));
    // Get the current logged in User and look up the user in ASP.NET Identity
    var currentUser = manager.FindById(User.Identity.GetUserId());
    string role = "Guest";

    string Organization = "Greenland Fedha Limited";

}
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/colreorder/1.1.1/css/dataTables.colReorder.css">
<style>
    .customformcontrol {
        width: 50%;
    }

    .htmlatt {
        width: 150px;
    }

    .tsxt {
        width: 20px;
        margin-left: 5px;
        margin-right: 5px;
        font-weight: bold;
    }

    .labelsCustom {
        margin-left: 5px;
        margin-right: 5px;
        font-weight: bold;
    }

    .dataTables_wrapper .dt-buttons {
        float: none;
        text-align: right;
    }

    .labela {
        width: 70px;
    }
</style>



<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            @Organization.ToUpper()

            @*<small>advanced tables</small>*@
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Transactions</a></li>
            <li class="active">All Transactions</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">

                <div class="box">

                    @using (Html.BeginForm("index", "Transactions", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        @*<div class="col-md-1">
                                                FILTER BY:
                                            </div>*@
                                        <div class="col-md-8">
                                            <table>
                                                <h5>FILTER BY :</h5>
                                                <tbody>
                                                    @{
                                                        var data = ViewBag.Message;
                                                    }
                                                    @if (User.IsInRole("HQ") || User.IsInRole("Administrator"))
                                                    {
                                                    <tr>

                                                        @if (data != 1 && data != 7)
                                                        {
                                                            <td>@Html.LabelFor(m => m.AgentFilter, new { @class = "input-small labelsCustom" })</td>
                                                            <td>@Html.DropDownListFor(n => n.AgentFilter, Model.AgentDropDownForm, "All", new { @class = "input-small htmlatt", @id = "ProductCategory" })</td>
                                                            <td></td>


                                                            <td>@Html.LabelFor(m => m.RegionFilter, new { @class = "input-small labelsCustom" })</td>
                                                            <td>@Html.DropDownListFor(m => m.RegionFilter, Model.RegionDropDownForm, "Select Region", new { @class = "input-small htmlatt", @id = "province_dll" })</td>

                                                            <td>@Html.LabelFor(m => m.DateFilterFrom, new { @class = "input-small labelsCustom labela" })</td>
                                                            <td>@Html.TextBoxFor(m => m.DateFilterFrom, new { @class = "input-small htmlatt", id = "dateFrom", autocomplete = "off" })</td>
                                                            <td><input type="submit" value="filter" class="htmlatt btn btn-block btn-success btn-sm" /></td>
                                                            <td>@Html.LabelFor(m => m.StatusFilter, new { @class = "input-small labelsCustom" })</td>
                                                            <td>@Html.DropDownListFor(m => m.StatusFilter, Model.StatusDropDown, "Status", new { @class = "input-small htmlatt", @id = "province_dllllll" })</td>


                                                        }

                                                    </tr>

                                                    <tr>

                                                        @if (data != 1 && data != 7)
                                                        {
                                                            <td>@Html.LabelFor(m => m.TransactionTypeFilter, new { @class = "input-small labelsCustom" })</td>
                                                            <td>@Html.DropDownListFor(n => n.TransactionTypeFilter, Model.transactionType, "All", new { @class = "input-small htmlatt", @id = "province_dlll" })</td>

                                                            <td></td>
                                                            <td>@Html.LabelFor(m => m.FactoryFilter, new { @class = "input-small labelsCustom" })</td>
                                                            <td>@Html.DropDownListFor(m => m.FactoryFilter, Model.FactoryDropDownForm, "All", new { @class = "input-small htmlatt", @id = "province_dllll" })</td>

                                                            <td>@Html.LabelFor(m => m.DateFilterTo, new { @class = "input-small labelsCustom labela" })</td>
                                                            <td>@Html.TextBoxFor(m => m.DateFilterTo, new { @class = "input-small htmlatt", id = "dateTo", autocomplete = "off" })</td>
                                                        }
                                                    </tr>

                                                    }

                                                    @if (User.IsInRole("Supervisor"))
                                                        {
                                                            <tr>
                                                                @if (data != 1 && data != 7)
                                                                {
                                                                    <td>@Html.LabelFor(m => m.DateFilterFrom, new { @class = "input-small labelsCustom labela" })</td>
                                                                    <td>@Html.TextBoxFor(m => m.DateFilterFrom, new { @class = "input-small htmlatt", id = "dateFrom", autocomplete = "off" })</td>
                                                                    <td><input type="submit" value="filter" class="htmlatt btn btn-block btn-success btn-sm" /></td>



                                                                    <td>@Html.LabelFor(m => m.AgentFilter, new { @class = "input-small labelsCustom" })</td>
                                                                    <td>@Html.DropDownListFor(n => n.AgentFilter, Model.AgentDropDownForm, "All", new { @class = "input-small htmlatt", @id = "ProductCategory" })</td>

                                                                    <td>@Html.LabelFor(m => m.TransactionTypeFilter, new { @class = "input-small labelsCustom" })</td>
                                                                    <td>@Html.DropDownListFor(n => n.TransactionTypeFilter, Model.transactionType, "All", new { @class = "input-small htmlatt", @id = "province_dlll" })</td>

                                                                    <td></td>
                                                                }
                                                                
                                                                @*@if (data == 1 || data == 7)
                                                                {
                                                                    <td>@Html.LabelFor(m => m.AgentFilter, new { @class = "input-small labelsCustom" })</td>
                                                                    <td>@Html.DropDownListFor(n => n.AgentFilter, Model.AgentDropDownForm, "All", new { @class = "input-small htmlatt", @id = "ProductCategory" })</td>

                                                                    <td>@Html.LabelFor(m => m.TransactionTypeFilter, new { @class = "input-small labelsCustom" })</td>
                                                                    <td>@Html.DropDownListFor(n => n.TransactionTypeFilter, Model.transactionType, "All", new { @class = "input-small htmlatt", @id = "province_dlll" })</td>

                                                                    <td></td>
                                                                }*@
                                                            </tr>

                                                            <tr>
                                                                @if (data != 1 && data != 7)
                                                                {

                                                                    <td>@Html.LabelFor(m => m.DateFilterTo, new { @class = "input-small labelsCustom labela" })</td>
                                                                    <td>@Html.TextBoxFor(m => m.DateFilterTo, new { @class = "input-small htmlatt", id = "dateTo", autocomplete = "off" })</td>
                                                                    <td></td>
                                                                    <td>@Html.LabelFor(m => m.FactoryFilter, new { @class = "input-small labelsCustom" })</td>
                                                                    <td>@Html.DropDownListFor(m => m.FactoryFilter, Model.FactoryDropDownForm, "All", new { @class = "input-small htmlatt", @id = "province_dllll" })</td>

                                                                    <td>@Html.LabelFor(m => m.StatusFilter, new { @class = "input-small labelsCustom" })</td>
                                                                    <td>@Html.DropDownListFor(m => m.StatusFilter, Model.StatusDropDown, "Status", new { @class = "input-small htmlatt", @id = "province_dllllll" })</td>

                                                                }

                                                                @*@if (data == 1 || data == 7)
                                                                {
                                                                    <td>@Html.LabelFor(m => m.FactoryFilter, new { @class = "input-small labelsCustom" })</td>
                                                                    <td>@Html.DropDownListFor(m => m.FactoryFilter, Model.FactoryDropDownForm, "All", new { @class = "input-small htmlatt", @id = "province_dllll" })</td>

                                                                }*@
                                                            </tr>
                                                        }

                                                        @if (User.IsInRole("CO"))
                                                        {
                                                            <tr>
                                                                @if (data != 1 && data != 7)
                                                                {
                                                                    <td>@Html.LabelFor(m => m.DateFilterFrom, new { @class = "input-small labelsCustom labela" })</td>
                                                                    <td>@Html.TextBoxFor(m => m.DateFilterFrom, new { @class = "input-small htmlatt", id = "dateFrom", autocomplete = "off" })</td>
                                                                    <td><input type="submit" value="filter" class="htmlatt btn btn-block btn-success btn-sm" /></td>



                                                                    <td>@Html.LabelFor(m => m.AgentFilter, new { @class = "input-small labelsCustom" })</td>
                                                                    <td>@Html.DropDownListFor(n => n.AgentFilter, Model.AgentDropDownForm, "All", new { @class = "input-small htmlatt", @id = "ProductCategory" })</td>

                                                                    <td>@Html.LabelFor(m => m.TransactionTypeFilter, new { @class = "input-small labelsCustom" })</td>
                                                                    <td>@Html.DropDownListFor(n => n.TransactionTypeFilter, Model.transactionType, "All", new { @class = "input-small htmlatt", @id = "province_dlll" })</td>

                                                                    <td></td>
                                                                }
                                                                
                                                                @*@if (data == 1 || data == 7)
                                                                {
                                                                    <td>@Html.LabelFor(m => m.AgentFilter, new { @class = "input-small labelsCustom" })</td>
                                                                    <td>@Html.DropDownListFor(n => n.AgentFilter, Model.AgentDropDownForm, "All", new { @class = "input-small htmlatt", @id = "ProductCategory" })</td>

                                                                    <td>@Html.LabelFor(m => m.TransactionTypeFilter, new { @class = "input-small labelsCustom" })</td>
                                                                    <td>@Html.DropDownListFor(n => n.TransactionTypeFilter, Model.transactionType, "All", new { @class = "input-small htmlatt", @id = "province_dlll" })</td>

                                                                    <td></td>
                                                                }*@
                                                            </tr>

                                                            <tr>
                                                                @if (data != 1 && data != 7)
                                                                {
                                                                    <td>@Html.LabelFor(m => m.DateFilterTo, new { @class = "input-small labelsCustom labela" })</td>
                                                                    <td>@Html.TextBoxFor(m => m.DateFilterTo, new { @class = "input-small htmlatt", id = "dateTo", autocomplete = "off" })</td>
                                                                }
                                                            </tr>
                                                        }

                                                        @if (User.IsInRole("Agent"))
                                                        {
                                                            <tr>
                                                                @if (data != 1 && data != 7)
                                                                {
                                                                    <td>@Html.LabelFor(m => m.DateFilterFrom, new { @class = "input-small labelsCustom labela" })</td>
                                                                    <td>@Html.TextBoxFor(m => m.DateFilterFrom, new { @class = "input-small htmlatt", id = "dateFrom", autocomplete = "off" })</td>
                                                                    <td><input type="submit" value="filter" class="htmlatt btn btn-block btn-success btn-sm" /></td>

                                                                    <td>@Html.LabelFor(m => m.TransactionTypeFilter, new { @class = "input-small labelsCustom" })</td>
                                                                    <td>@Html.DropDownListFor(n => n.TransactionTypeFilter, Model.transactionType, "All", new { @class = "input-small htmlatt", @id = "province_dlll" })</td>

                                                                    <td></td>
                                                                }
                                                                
                                                                @*@if (data == 1 || data == 7)
                                                                {
                                                                    <td>@Html.LabelFor(m => m.AgentFilter, new { @class = "input-small labelsCustom" })</td>
                                                                    <td>@Html.DropDownListFor(n => n.AgentFilter, Model.AgentDropDownForm, "All", new { @class = "input-small htmlatt", @id = "ProductCategory" })</td>

                                                                    <td>@Html.LabelFor(m => m.TransactionTypeFilter, new { @class = "input-small labelsCustom" })</td>
                                                                    <td>@Html.DropDownListFor(n => n.TransactionTypeFilter, Model.transactionType, "All", new { @class = "input-small htmlatt", @id = "province_dlll" })</td>

                                                                    <td></td>
                                                                }*@
                                                            </tr>

                                                            <tr>
                                                                @if (data != 1 && data != 7)
                                                                {
                                                                    <td>@Html.LabelFor(m => m.DateFilterTo, new { @class = "input-small labelsCustom labela" })</td>
                                                                    <td>@Html.TextBoxFor(m => m.DateFilterTo, new { @class = "input-small htmlatt", id = "dateTo", autocomplete = "off" })</td>
                                                                }
                                                            </tr>
                                                        }

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    }

                    <div class="box-body">

                        <table id="agenciesdatatable" class="table table-striped table-bordered table-hover" style="width: 100%">
                            <thead style="background-color: #efef86">
                                <tr id="tableRow">
                                    <th></th>

                                    <th>Transacted By</th>
                                    <th>Account Name</th>
                                    <th>Grower Number</th>
                                    <th>ID Number</th>
                                    <th>Phone Number</th>
                                    <th>Transaction Type</th>
                                    <th>Status</th>
                                    <th>Date</th>

                                </tr>
                            </thead>

                            <tbody>

                                @{int xl = 0; }
                                @{ if (Model.transactionsList != null)
                                    {
                                        foreach (var asset in Model.transactionsList)
                                        {
                                            <tr>
                                                @{xl++;}
                                                <td>@xl</td>
                                                <td>@asset.agent_code</td>
                                                <td>@asset.acc_name</td>
                                                <td>@asset.grower_no</td>
                                                <td>@asset.id_no</td>
                                                <td>@asset.telephone</td>
                                                <td>@asset.Transaction_type</td>
                                                <td>@asset.approval_status</td>
                                                <td>@asset.transaction_date</td>
                                            </tr>
                                        }

                                    }
                                }
                            </tbody>
                            <tfoot>
                                <tr>

                                    <th></th>
                                    <th></th>
                                    <th></th>

                                    <th></th>
                                    <th></th>
                                    <th colspan="3">

                                    </th>
                                </tr>

                            </tfoot>
                        </table>
                        <h5 style="color:darkolivegreen">TOTAL TRANSACTIONS : @xl</h5>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@section Scripts
{

    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.4.1/css/buttons.dataTables.min.css">
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.4.1/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.4.1/js/buttons.flash.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.4.1/js/buttons.html5.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.4.1/js/buttons.print.min.js"></script>
    <script>

        $("#ProductCategory").change(function () {


            this.form.submit();
        });
        $("#province_dllllll").change(function () { this.form.submit(); });
        $("#province_dlll").change(function () { this.form.submit(); });
        $("#province_dllll").change(function () { this.form.submit(); });
        $("#province_dll").change(function () { $("#ProductCategory").val('All'); this.form.submit(); });
    </script>
    <script type="text/javascript">
        $.fn.dataTable.ext.search.push(
            function (settings, data, dataIndex) {
                var min = parseInt($('#min').val(), 10);
                var max = parseInt($('#max').val(), 10);
                var age = parseFloat(data[0]) || 0; // use data for the age column

                if ((isNaN(min) && isNaN(max)) ||
                    (isNaN(min) && age <= max) ||
                    (min <= age && isNaN(max)) ||
                    (min <= age && age <= max)) {
                    return true;
                }
                return false;
            }
        );
        $(document).ready(function () {
            oTable = $('#agenciesdatatable').dataTable({
                'paging': true,
                'lengthChange': true,
                'searching': true,
                'ordering': true,
                'info': true,
                'autoWidth': false,
                dom: 'lBfrtip',
                dom:
                    "<'row'<'col-sm-3'l><'col-sm-6 text-center'B><'col-sm-3'f>>" +
                    "<'row'<'col-sm-12'tr>>" +
                    "<'row'<'col-sm-5'i><'col-sm-7'p>>",
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ],
                'footerCallback': function (row, data, start, end, display) {
                    var api = this.api(), data;

                    // Remove the formatting to get integer data for summation
                    var intVal = function (i) {
                        return typeof i === 'string' ? i.replace(/[\$,]/g, '') * 1 : typeof i === 'number' ? i : 0;
                    };

                    // Total over all pages
                    total = api
                        .column(5, { "filter": "applied" })
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        });

                    //// Total over this page
                    //total = api
                    //    .column(7, { "filter": "applied" })
                    //    .data()
                    //    .reduce(function (a, b) {
                    //        return intVal(a) + intVal(b);
                    //    }, 0);

                    // Total over this page
                    pageTotal = api
                        .column(5, { page: 'current' })
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        },
                            0);
                    // Update footer
                    $(api.column(5).footer()).html(
                        //' ( Kshs: ' + total.toLocaleString('en') + ' Total)'
                    );
                },
                drawCallback: function () {
                    var api = this.api();
                }
            });
            $('#min').change(function () { oTable.fnDraw(); });
            $('#max').change(function () { oTable.fnDraw(); });
            //oTable.fnFilter('details');
        });
        $('#min, #max').keyup(function () {
            oTable.draw();
        });
        $('#TransactionType').change(function () {
            var r = $('select[name="TransactionType"]').find(":selected").text()
            oTable.fnFilter(r);
        });



        // Insert the sum of a column into the columns footer, for the visible             // data on each draw

        jQuery.fn.dataTable.Api.register('sum()', function () {
            return this.flatten().reduce(function (a, b) {
                if (typeof a === 'string') {
                    a = a.replace(/[^\d.-]/g, '') * 1;
                }
                if (typeof b === 'string') {
                    b = b.replace(/[^\d.-]/g, '') * 1;
                }

                return a + b;
            }, 5);
        });


    </script>

    <script>$('#dateFrom').bootstrapMaterialDatePicker({ format: 'MM-DD-YYYY', time: false });</script>
    <script>$('#dateTo').bootstrapMaterialDatePicker({ format: 'MM-DD-YYYY', time: false });</script>
}